<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/aboutUs.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/blog.css" rel="stylesheet" type="text/css" />
    <title>Blog</title> 
</head>

<header>
    <nav class="main-nav">
        <ul>
          <li><a href="/" class="logo">blogAblog.</a></li>
          <li><a href="/" class="home">Home</a></li>
          <li><a href="/aboutUs" class="aboutUs">About Us</a></li>
          <li><a href="/articles/blog" class="blog">Blogs</a></li>
        </ul>
      </nav>
</header>

<br>
<br>
<br>
<br>

<body style="background-color: #CAB5A6;">
    <div class="container">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="text-dark mb-2" style="color: #DAC7B9;">by 
            <a class="author" style="color: #7A5135;">
                <%= article.author %>
            </a>
        </div>
        <div class="text-dark mb-2"><%= article.createdAt.toDateString() %> at <%= article.createdAt.toLocaleTimeString() %></div>
        <a href="/articles/blog" class="btn btn-primary">All</a>
        <a href="/articles/new/" class="btn btn-dark text-white">New</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary text-white" style="color: white;">Edit</a>
        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <div class="mt-3 p-2 p-md-3 mb-4 text-white rounded card-body text-white" style="background-color: #8F7A69; font-family: Georgia;">
            <%- article.sanitizedHtml %>
        </div>
    </div>
</body>
</html>